.THIS .slds-form-element__icon {/* Replace this class name "slds-form-element__icon" by your finding. */
    display: none !important;
}
/* .THIS.nnUnits_wrap {   
    min-width: 1500px;
    max-width: auto;
    overflow: auto;
    min-height: 200px;
    height: auto;
} */
.THIS th{
    text-align: center;
}
.THIS .slds-form-element__label{
    display: none !important;
}
.THIS .slds-m-right_xxx-small{
    display: none !important;
}